#s-1a479705-f79d-4984-8fbe-9df43cf2366d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a479705-f79d-4984-8fbe-9df43cf2366d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a479705-f79d-4984-8fbe-9df43cf2366d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a479705-f79d-4984-8fbe-9df43cf2366d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}