#s-8689a650-93bc-425b-a68b-2002a1129207 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8689a650-93bc-425b-a68b-2002a1129207 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8689a650-93bc-425b-a68b-2002a1129207 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8689a650-93bc-425b-a68b-2002a1129207 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}