#s-8af995f4-4a0b-4dce-950e-6f0d758cfdd2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8af995f4-4a0b-4dce-950e-6f0d758cfdd2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8af995f4-4a0b-4dce-950e-6f0d758cfdd2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8af995f4-4a0b-4dce-950e-6f0d758cfdd2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}