#s-9524ffe9-aff3-4cd6-9be2-4d5382626c12 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9524ffe9-aff3-4cd6-9be2-4d5382626c12 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9524ffe9-aff3-4cd6-9be2-4d5382626c12 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9524ffe9-aff3-4cd6-9be2-4d5382626c12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}