#s-af1ac072-afe6-4a4b-8f2e-62b058c077c5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af1ac072-afe6-4a4b-8f2e-62b058c077c5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af1ac072-afe6-4a4b-8f2e-62b058c077c5 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af1ac072-afe6-4a4b-8f2e-62b058c077c5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}