<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: powderblue;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1 class="header">About Us</h1>
</header>
  
<nav>
  <ul>
    <li>Ravathy</li>
    <li>Connie</li>
    <li>Katrina</li>
    <li>Tisha</li>

  </ul>
</nav>

<article>
    <h1><font face="verdana">Our story so far...</font></h1>
    <p><font face="verdana">You often read stories of entrepreneurs who came up with their million pound ideas<br> over a couple of beers with friends. Not us. 
                         You even hear those feel good stories of <br>university roommates and best friends who started a company together. Not us either. 
                         <br>
                         <br>
                          We came together because we were on a course that promised to get women into <br>technology and our group task was to create a blog. 
                         <br>
                         <br>
                          So here we are The DevelopHers and this is our blog! xoxo</font>
</article>

<footer>The DevelopHers</footer>

</div>

</body>
</html>