#AboutUs
div.container {
    width: 100%;
    border: 0px solid gray;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    font-family: Arial;

}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 5px solid pink;
    padding: 1em;
    overflow: hidden;
    
}


