/*.header h1,h3
{
  position: relative;
  font-family: 'Roboto', sans-serif;
}
header
{
    margin-top: 46px;
    box-shadow: 0 10px 0.375em -0.375em #b8b8b8;
    padding: 20px 0 30px 0;
    width:100%;
    height:110px;
}*/

header
{
    margin: auto;
    width : 980px;
}
#title
{
    font-size: 30px;
}
#catchy
{
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
#logo
{    
    margin-top: 48px;
}


body{ overflow-y: scroll; padding: 0; margin: 0; font-family: Segoe UI; font-size: 16px; background-color: white; height: 100%; }

#section 
{
    /* clear:both; */
    margin-left : auto;
    margin-right : auto;
    width : 980px;
    background:white;    
}

.error
{
    color: #FF0000;
}

#searchtxt
{
    width: 500px;
    height: 30px;
}
#nav{ background-color: #222; position: fixed; width: 100%; top: 0; z-index:1;}
#nav-wrapper{ width: 960px; margin: 0 auto; text-align: left; }
#nav ul{ list-style-type: none; padding: 0; margin: 0; }
#nav ul li{ display: inline-block; color: #CCC; }
#nav ul li:hover{ background-color: #333; }
#nav ul li a,visited{ color: #CCC; display: block; padding: 15px; text-decoration: none; }
#WelcomeMsg { width: 200px; text-align: right; }