/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2016, 9:42:37 PM
    Author     : katrna
*/
.blog-content {
    z-index:0;
}

.blog-article{
   margin-left: 10%;
}

.blog-post{
   
}

.article-header{
    background-color: grey;
    opacity: 0.8;
    padding: 20px;
}

.article-body{
    background-color: darkgray;
    height: 100%;
    margin-top: -17px;
    padding-left: 20px;
    padding-top: 20px;
    opacity: 0.9;
}


.article-created-date{
    float: right;
}